/* Coolors Exported Palette - coolors.co/5dfdcb-7cc6fe-f4faff-8789c0-08090a */

/* HSL */
$color1: hsla(161%, 98%, 68%, 1);
$color2: hsla(206%, 98%, 74%, 1);
$color3: hsla(207%, 100%, 98%, 1);
$color4: hsla(238%, 31%, 64%, 1);
$color5: hsla(210%, 11%, 4%, 1);

/* RGB */
$color1: rgba(93, 253, 203, 1);
$color2: rgba(124, 198, 254, 1);
$color3: rgba(244, 250, 255, 1);
$color4: rgba(135, 137, 192, 1);
$color5: rgba(8, 9, 10, 1);