@import 'Base/base';

table {
  cursor: pointer;
  @include playerGridStyle($color3);
  margin: $spacing-xlarge;
  border-collapse: collapse;
  width: 30%;
  tr {
    td {
      height: 140px;
      border: 5px solid $color3;
      width: 33%;
      &::after {
        clear: both;
        content: '';
        display: table;
      }
      &:first-of-type {
        border-left-color: transparent;
      }
      &:nth-of-type(3) {
        border-right-color: transparent;
      }
    }
    &:first-of-type {
      td {
        border-top-color: transparent;
        padding-top: $spacing-small;
      }
    }
    &:nth-of-type(3) {
      td {
        border-bottom-color: transparent;
        padding-bottom: $spacing-small;
      }
    }
  }
}
