@import 'Base/base';

.score {
  font-family: $body-font-family;
  font-size: $font-xlarge;
  width: 60%;
  padding-bottom: $spacing-xsmall;
}

.currentTurn {
  font-weight: $font-weight-normal;
  text-decoration: underline;
}

.inactivePlayer {
  font-weight: $font-weight-light;
  color: gray;
}
